:root{
    --body-color: #E4E9F7;
    --nav-color: #32CD32;
    --side-nav: #02c002;
    --text-color: #FFF;

}



nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}





nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight-searchBox{
    display: flex;
    align-items: center;
}





@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }

    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 1rem;
    background-color: #32CD32;
    color: white;
  }
  
  form {
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.1);
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  output {
    font-size: 1.5rem;
    font-weight: bold;
    color: #32CD32;
    margin-top: 1rem;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 4px;
    border: none;
    background-color:#32CD32;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color:#32CD32;
  }
  footer {
    background-color:#32CD32;
    color: #fff;
    padding: 20px;
    text-align: center;
    }
    
    footer p {
    margin: 0;
    font-size: 0.8em;
    }
    
    footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    }
    
    footer ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    }
    
    footer ul li {
    margin: 0 5px;
    }
  